
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}
p, a  {
    font-family: 'Raleway', sans-serif;
}
.navbar {
    min-width: 100% !important;
    background-color: black !important;
    position: fixed;
    z-index: 1;
}
a.nav-link{
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.navbar-brand {
    font-family: 'Montserrat', sans-serif; 
}
div.container-fluid {
    padding: 120px;
}
.main-header {
    min-height: 100vh;
    min-width: 100%;
    background-image: url(../img/Portfolio-Pics/BG-osman-rana.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}
.main-header-content {
    position: relative; 
    max-width: 750px;
    margin-top: 15%;
}
/*main header sizing. Has mobile sizing*/
.main-header-content h1 {
    font-size: 5em;
}
#header-sub-txt {
    font-size: 1.4em;
}
.intro-txt {
    min-height: 350px;
    text-align: center;
    max-width: 750px;
 
}
/*main styling for all full width portfolio sections. use id to change bg img*/
.portfolio-section {
    min-width: 100vw;
    padding-left: -120px;
    overflow: hidden;
    min-height: 950px;
    /*background-image: url("../img/MakeShiftExport.png");*/
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}
.portfolio-contents {
    padding: 300px 25px;
    
  }
#secondBase{
   background-image: url("../img/Portfolio-Pics/EbonyAndCompanyFullImg.png");
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;

}
#thirdBase{
    background-image: url("../img/SamaniDevelopmentWebsite.png");
    background-position: bottom;

}

.parallax {
    /* The image used */
    background-image: url("../img/Portfolio-Pics/parallax-michail-sapiton-.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #kingsmenPort {
      background-image: url("../img/Portfolio-Pics/KingsmenCapitalBGImgFull.JPG");
      background-position: cover;
      background-repeat: no-repeat;
  }